In [1]:
from sqlalchemy import create_engine, text

In [2]:
database_name = 'prescriptions'    # Fill this in with your lahman database name

connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"

In [3]:
engine = create_engine(connection_string)

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

%matplotlib inline

In [5]:
query = '''
            SELECT year, overdose_deaths, county 
            FROM overdose_deaths
                INNER JOIN fips_county 
                ON overdose_deaths.fipscounty = fips_county.fipscounty::int
            '''
query2 = 'SELECT * FROM population'
query3 = '''
            SELECT drug_name, generic_name, opioid_drug_flag, long_acting_opioid_drug_flag, antibiotic_drug_flag, antipsychotic_drug_flag, total_drug_cost
            FROM drug
                INNER JOIN prescription USING(drug_name)
            '''
query4 = '''
            SELECT DISTINCT drug_name, opioid_drug_flag, total_drug_cost, SUM(overdose_deaths) as overdose_deaths, year
            FROM drug
                INNER JOIN prescription USING(drug_name)
                INNER JOIN prescriber USING(npi)
                INNER JOIN zip_fips ON prescriber.nppes_provider_zip5::varchar = zip_fips.zip
				INNER JOIN fips_county USING(fipscounty)
				INNER JOIN overdose_deaths ON fips_county.fipscounty::int = overdose_deaths.fipscounty
            WHERE opioid_drug_flag = 'Y' OR long_acting_opioid_drug_flag = 'Y'
            GROUP BY drug_name, opioid_drug_flag, total_drug_cost, year
            '''
query5 = '''
         SELECT DISTINCT drug_name, opioid_drug_flag, antibiotic_drug_flag, antipsychotic_drug_flag, total_drug_cost, SUM(overdose_deaths) as overdose_deaths, year
            FROM drug
                INNER JOIN prescription USING(drug_name)
                INNER JOIN prescriber USING(npi)
                INNER JOIN zip_fips ON prescriber.nppes_provider_zip5::varchar = zip_fips.zip
				INNER JOIN fips_county USING(fipscounty)
				INNER JOIN overdose_deaths ON fips_county.fipscounty::int = overdose_deaths.fipscounty
            GROUP BY drug_name, opioid_drug_flag, total_drug_cost, antibiotic_drug_flag, antipsychotic_drug_flag, year
            '''

In [6]:
with engine.connect() as connection:
    od = pd.read_sql(query, con = connection)

od.head()

   year  overdose_deaths    county
0  2018               18  ANDERSON
1  2017               34  ANDERSON
2  2016               24  ANDERSON
3  2015               20  ANDERSON
4  2018                7   BEDFORD

In [7]:
with engine.connect() as connection:
    pop = pd.read_sql(query2, con = connection)
pop.head()

  fipscounty  population
0      47017     28137.0
1      47023     17097.0
2      47039     11681.0
3      47037    678322.0
4      47087     11573.0

In [8]:
with engine.connect() as connection:
    drug = pd.read_sql(query3, con = connection)
drug.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost
0,RALOXIFENE HCL,RALOXIFENE HCL,N,N,N,N,1009.66
1,GLIMEPIRIDE,GLIMEPIRIDE,N,N,N,N,270.86
2,TAMSULOSIN HCL,TAMSULOSIN HCL,N,N,N,N,353.62
3,SPIRIVA,TIOTROPIUM BROMIDE,N,N,N,N,4783.28
4,SPIRIVA,TIOTROPIUM BROMIDE,N,N,N,N,4855.95

## Davidson and Shelby Counties

In [10]:
davidson = od.loc[od.county == 'DAVIDSON']
davidson

    year  overdose_deaths    county
72  2018              200  DAVIDSON
73  2017              184  DAVIDSON
74  2016              178  DAVIDSON
75  2015              127  DAVIDSON

In [11]:
shelby = od.loc[od.county == 'SHELBY']
shelby

     year  overdose_deaths  county
312  2018              123  SHELBY
313  2017              159  SHELBY
314  2016              150  SHELBY
315  2015              135  SHELBY

In [12]:
david_shelby = pd.concat([davidson, shelby])
david_shelby

     year  overdose_deaths    county
72   2018              200  DAVIDSON
73   2017              184  DAVIDSON
74   2016              178  DAVIDSON
75   2015              127  DAVIDSON
312  2018              123    SHELBY
313  2017              159    SHELBY
314  2016              150    SHELBY
315  2015              135    SHELBY

In [13]:
david_shelby.to_csv('david_shelby.csv')

## Counties Trending Downward

In [15]:
od.to_csv('overdose_deaths.csv')

# Spending on Opioids

In [17]:
drug.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost
0,RALOXIFENE HCL,RALOXIFENE HCL,N,N,N,N,1009.66
1,GLIMEPIRIDE,GLIMEPIRIDE,N,N,N,N,270.86
2,TAMSULOSIN HCL,TAMSULOSIN HCL,N,N,N,N,353.62
3,SPIRIVA,TIOTROPIUM BROMIDE,N,N,N,N,4783.28
4,SPIRIVA,TIOTROPIUM BROMIDE,N,N,N,N,4855.95

In [18]:
opioid = drug[['drug_name', 'generic_name', 'opioid_drug_flag', 'long_acting_opioid_drug_flag', 'total_drug_cost']]
opioid.head

<bound method NDFrame.head of                drug_name        generic_name opioid_drug_flag  \
0         RALOXIFENE HCL      RALOXIFENE HCL                N
1            GLIMEPIRIDE         GLIMEPIRIDE                N
2         TAMSULOSIN HCL      TAMSULOSIN HCL                N
3                SPIRIVA  TIOTROPIUM BROMIDE                N
4                SPIRIVA  TIOTROPIUM BROMIDE                N
...                  ...                 ...              ...
705010  PROMETHAZINE HCL    PROMETHAZINE HCL                N
705011    RANITIDINE HCL      RANITIDINE HCL                N
705012          DIAZEPAM            DIAZEPAM                N
705013          RAMIPRIL            RAMIPRIL                N
705014          ATENOLOL            ATENOLOL                N

       long_acting_opioid_drug_flag  total_drug_cost
0                                 N          1009.66
1                                 N           270.86
2                                 N           353.62
3                                 N          4783.28
4                                 N          4855.95
...                             ...              ...
705010                            N            62.82
705011                            N          2860.16
705012                            N           253.49
705013                            N           627.50
705014                            N           396.79

[705015 rows x 5 columns]>

In [19]:
opioid = opioid.loc[opioid['opioid_drug_flag'] == 'Y']
opioid.head()

,drug_name,generic_name,opioid_drug_flag,long_acting_opioid_drug_flag,total_drug_cost
51,OXYCODONE-ACETAMINOPHEN,OXYCODONE HCL/ACETAMINOPHEN,Y,N,27665.43
70,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,626.75
231,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,154.58
241,TRAMADOL HCL,TRAMADOL HCL,Y,N,112.66
265,HYDROCODONE-ACETAMINOPHEN,HYDROCODONE/ACETAMINOPHEN,Y,N,53.25

In [20]:
opioid = opioid.groupby('drug_name')['total_drug_cost'].sum()
opioid

drug_name
ACETAMIN-CAFF-DIHYDROCODEINE          9869.65
ACETAMINOPHEN-CODEINE               402830.41
ASCOMP WITH CODEINE                   4469.58
BELBUCA                              33784.09
BUPRENORPHINE                        30420.83
BUTALB-ACETAMINOPH-CAFF-CODEIN        7091.52
BUTALB-CAFF-ACETAMINOPH-CODEIN       23884.06
BUTALBITAL COMPOUND-CODEINE          45824.50
BUTORPHANOL TARTRATE                 76052.93
BUTRANS                            1475579.75
CODEINE SULFATE                      20706.64
DILAUDID                             10481.19
DURAGESIC                           128515.41
EMBEDA                             1380817.81
ENDOCET                             205078.78
EXALGO                               68236.14
FENTANYL                           5637648.56
HYDROCODONE-ACETAMINOPHEN         19350379.09
HYDROCODONE-IBUPROFEN                39161.81
HYDROMORPHONE ER                    240756.29
HYDROMORPHONE HCL                   182513.05
HYSINGLA ER                         360289.49
KADIAN                              140809.29
MEPERIDINE HCL                       38316.08
METHADONE HCL                       304700.95
MORPHINE SULFATE                    394817.50
MORPHINE SULFATE ER                8119914.04
MS CONTIN                            20584.30
NORCO                                79845.88
NUCYNTA                             327051.41
NUCYNTA ER                         1501724.13
OPANA ER                           6742947.34
OXYCODONE HCL                      8447495.85
OXYCODONE HCL ER                    918026.51
OXYCODONE HCL-ASPIRIN                 3079.90
OXYCODONE-ACETAMINOPHEN           19591623.10
OXYCONTIN                         19941981.06
OXYMORPHONE HCL                     110451.53
OXYMORPHONE HCL ER                 4502858.77
PENTAZOCINE-NALOXONE HCL             42473.64
PERCOCET                            328432.74
ROXICODONE                           13062.89
SUBSYS                              306263.68
TRAMADOL HCL                       2528194.66
TRAMADOL HCL ER                     220703.40
TRAMADOL HCL-ACETAMINOPHEN          121937.79
TYLENOL-CODEINE NO.4                  6708.58
ULTRACET                              5526.60
ULTRAM                               73598.09
VICODIN HP                            2742.60
XTAMPZA ER                          412969.87
ZOHYDRO ER                           97392.61
Name: total_drug_cost, dtype: float64

In [21]:
opioid.to_frame()

                                total_drug_cost
drug_name
ACETAMIN-CAFF-DIHYDROCODEINE            9869.65
ACETAMINOPHEN-CODEINE                 402830.41
ASCOMP WITH CODEINE                     4469.58
BELBUCA                                33784.09
BUPRENORPHINE                          30420.83
BUTALB-ACETAMINOPH-CAFF-CODEIN          7091.52
BUTALB-CAFF-ACETAMINOPH-CODEIN         23884.06
BUTALBITAL COMPOUND-CODEINE            45824.50
BUTORPHANOL TARTRATE                   76052.93
BUTRANS                              1475579.75
CODEINE SULFATE                        20706.64
DILAUDID                               10481.19
DURAGESIC                             128515.41
EMBEDA                               1380817.81
ENDOCET                               205078.78
EXALGO                                 68236.14
FENTANYL                             5637648.56
HYDROCODONE-ACETAMINOPHEN           19350379.09
HYDROCODONE-IBUPROFEN                  39161.81
HYDROMORPHONE ER                      240756.29
HYDROMORPHONE HCL                     182513.05
HYSINGLA ER                           360289.49
KADIAN                                140809.29
MEPERIDINE HCL                         38316.08
METHADONE HCL                         304700.95
MORPHINE SULFATE                      394817.50
MORPHINE SULFATE ER                  8119914.04
MS CONTIN                              20584.30
NORCO                                  79845.88
NUCYNTA                               327051.41
NUCYNTA ER                           1501724.13
OPANA ER                             6742947.34
OXYCODONE HCL                        8447495.85
OXYCODONE HCL ER                      918026.51
OXYCODONE HCL-ASPIRIN                   3079.90
OXYCODONE-ACETAMINOPHEN             19591623.10
OXYCONTIN                           19941981.06
OXYMORPHONE HCL                       110451.53
OXYMORPHONE HCL ER                   4502858.77
PENTAZOCINE-NALOXONE HCL               42473.64
PERCOCET                              328432.74
ROXICODONE                             13062.89
SUBSYS                                306263.68
TRAMADOL HCL                         2528194.66
TRAMADOL HCL ER                       220703.40
TRAMADOL HCL-ACETAMINOPHEN            121937.79
TYLENOL-CODEINE NO.4                    6708.58
ULTRACET                                5526.60
ULTRAM                                 73598.09
VICODIN HP                              2742.60
XTAMPZA ER                            412969.87
ZOHYDRO ER                             97392.61

In [22]:
opioid = opioid.reset_index()
opioid.head()

                      drug_name  total_drug_cost
0  ACETAMIN-CAFF-DIHYDROCODEINE          9869.65
1         ACETAMINOPHEN-CODEINE        402830.41
2           ASCOMP WITH CODEINE          4469.58
3                       BELBUCA         33784.09
4                 BUPRENORPHINE         30420.83

In [23]:
opioid.to_csv('opioids.csv')

In [24]:
non_opioid = drug[['drug_name', 'generic_name', 'antibiotic_drug_flag', 'antipsychotic_drug_flag', 'total_drug_cost']]
non_opioid.head()

,drug_name,generic_name,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost
0,RALOXIFENE HCL,RALOXIFENE HCL,N,N,1009.66
1,GLIMEPIRIDE,GLIMEPIRIDE,N,N,270.86
2,TAMSULOSIN HCL,TAMSULOSIN HCL,N,N,353.62
3,SPIRIVA,TIOTROPIUM BROMIDE,N,N,4783.28
4,SPIRIVA,TIOTROPIUM BROMIDE,N,N,4855.95

In [25]:
antibiotic = non_opioid.loc[non_opioid.antibiotic_drug_flag == 'Y']
antibiotic

,drug_name,generic_name,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost
8,METRONIDAZOLE,METRONIDAZOLE/SODIUM CHLORIDE,Y,N,4881.28
9,METRONIDAZOLE,METRONIDAZOLE,Y,N,4881.28
41,LEVOFLOXACIN,LEVOFLOXACIN,Y,N,102.64
42,AZITHROMYCIN,AZITHROMYCIN,Y,N,86.37
60,AZITHROMYCIN,AZITHROMYCIN,Y,N,626.41
...,...,...,...,...,...
704862,MINOCYCLINE HCL,MINOCYCLINE HCL,Y,N,206.96
704869,SULFAMETHOXAZOLE-TRIMETHOPRIM,SULFAMETHOXAZOLE/TRIMETHOPRIM,Y,N,110.81
704932,AMOXICILLIN-CLAVULANATE POTASS,AMOXICILLIN/POTASSIUM CLAV,Y,N,623.12
704935,AMOXICILLIN-CLAVULANATE POTASS,AMOXICILLIN/POTASSIUM CLAV,Y,N,233.18
704939,AMOXICILLIN,AMOXICILLIN,Y,N,226.96

In [26]:
antibiotic = antibiotic[['drug_name', 'generic_name', 'antibiotic_drug_flag', 'total_drug_cost']]
antibiotic

,drug_name,generic_name,antibiotic_drug_flag,total_drug_cost
8,METRONIDAZOLE,METRONIDAZOLE/SODIUM CHLORIDE,Y,4881.28
9,METRONIDAZOLE,METRONIDAZOLE,Y,4881.28
41,LEVOFLOXACIN,LEVOFLOXACIN,Y,102.64
42,AZITHROMYCIN,AZITHROMYCIN,Y,86.37
60,AZITHROMYCIN,AZITHROMYCIN,Y,626.41
...,...,...,...,...
704862,MINOCYCLINE HCL,MINOCYCLINE HCL,Y,206.96
704869,SULFAMETHOXAZOLE-TRIMETHOPRIM,SULFAMETHOXAZOLE/TRIMETHOPRIM,Y,110.81
704932,AMOXICILLIN-CLAVULANATE POTASS,AMOXICILLIN/POTASSIUM CLAV,Y,623.12
704935,AMOXICILLIN-CLAVULANATE POTASS,AMOXICILLIN/POTASSIUM CLAV,Y,233.18
704939,AMOXICILLIN,AMOXICILLIN,Y,226.96

In [27]:
antibiotic = antibiotic.groupby('drug_name')['total_drug_cost'].sum()
antibiotic

drug_name
AMIKACIN SULFATE                     19919.94
AMOXICILLIN                         650858.03
AMOXICILLIN-CLAVULANATE POT ER        5036.83
AMOXICILLIN-CLAVULANATE POTASS     1623933.03
AMPICILLIN SODIUM                    16535.23
                                     ...
VIBATIV                              16374.48
VIBRAMYCIN                            6973.12
XIFAXAN                           11134921.82
ZERBAXA                               6779.76
ZOSYN                                13776.18
Name: total_drug_cost, Length: 77, dtype: float64

In [28]:
antibiotic.reset_index()

                         drug_name  total_drug_cost
0                 AMIKACIN SULFATE         19919.94
1                      AMOXICILLIN        650858.03
2   AMOXICILLIN-CLAVULANATE POT ER          5036.83
3   AMOXICILLIN-CLAVULANATE POTASS       1623933.03
4                AMPICILLIN SODIUM         16535.23
..                             ...              ...
72                         VIBATIV         16374.48
73                      VIBRAMYCIN          6973.12
74                         XIFAXAN      11134921.82
75                         ZERBAXA          6779.76
76                           ZOSYN         13776.18

[77 rows x 2 columns]

In [29]:
antibiotic.to_csv('antibiotics.csv')

In [30]:
antipsychotic = non_opioid.loc[non_opioid.antipsychotic_drug_flag == 'Y']
antipsychotic.head()

,drug_name,generic_name,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost
99,RISPERIDONE,RISPERIDONE,N,Y,77.25
174,RISPERDAL CONSTA,RISPERIDONE MICROSPHERES,N,Y,19410.10
205,ZIPRASIDONE HCL,ZIPRASIDONE HCL,N,Y,4485.20
350,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,N,Y,816.18
366,THIOTHIXENE,THIOTHIXENE,N,Y,329.54

In [31]:
antipsychotic = antipsychotic[['drug_name', 'generic_name', 'antipsychotic_drug_flag', 'total_drug_cost']]
antipsychotic.head()

,drug_name,generic_name,antipsychotic_drug_flag,total_drug_cost
99,RISPERIDONE,RISPERIDONE,Y,77.25
174,RISPERDAL CONSTA,RISPERIDONE MICROSPHERES,Y,19410.10
205,ZIPRASIDONE HCL,ZIPRASIDONE HCL,Y,4485.20
350,QUETIAPINE FUMARATE,QUETIAPINE FUMARATE,Y,816.18
366,THIOTHIXENE,THIOTHIXENE,Y,329.54

In [32]:
antipsychotic = antipsychotic.groupby('drug_name')['total_drug_cost'].sum()
antipsychotic

drug_name
ABILIFY                         228565.04
ABILIFY MAINTENA               5078994.96
ARIPIPRAZOLE                  12668693.84
ARISTADA                       1204633.19
CHLORPROMAZINE HCL             2326349.37
CLOZAPINE                      1210591.07
CLOZAPINE ODT                    63722.26
CLOZARIL                         97379.75
FANAPT                         1569717.13
FAZACLO                          13729.05
FLUPHENAZINE DECANOATE          216436.27
FLUPHENAZINE HCL                922887.44
GEODON                          320294.36
HALOPERIDOL                    1529002.02
HALOPERIDOL DECANOATE           719496.68
HALOPERIDOL DECANOATE 100        42202.35
HALOPERIDOL LACTATE               5400.06
INVEGA                         1261901.23
INVEGA SUSTENNA               15934540.18
INVEGA TRINZA                  1528766.52
LATUDA                        20467007.01
LOXAPINE                         89751.50
NUPLAZID                       2445413.88
OLANZAPINE                     1449105.71
OLANZAPINE ODT                  151365.37
OLANZAPINE-FLUOXETINE HCL        63763.41
ORAP                              3007.19
PALIPERIDONE ER                3356278.70
PERPHENAZINE                    296348.43
PERPHENAZINE-AMITRIPTYLINE       37568.57
PIMOZIDE                         12577.68
QUETIAPINE FUMARATE            3617047.43
QUETIAPINE FUMARATE ER         3672190.46
REXULTI                        2412605.74
RISPERDAL                        94634.91
RISPERDAL CONSTA               6947297.52
RISPERIDONE                    1064447.81
RISPERIDONE ODT                  93986.55
SAPHRIS                        3042980.70
SEROQUEL                        191059.40
SEROQUEL XR                    3009753.53
THIORIDAZINE HCL                 93415.44
THIOTHIXENE                     121583.40
TRIFLUOPERAZINE HCL              77434.68
VRAYLAR                        1958755.51
ZIPRASIDONE HCL                2178651.44
ZYPREXA                         236941.88
ZYPREXA RELPREVV                 58458.37
ZYPREXA ZYDIS                    62931.43
Name: total_drug_cost, dtype: float64

In [33]:
antipsychotic.reset_index()

                     drug_name  total_drug_cost
0                      ABILIFY        228565.04
1             ABILIFY MAINTENA       5078994.96
2                 ARIPIPRAZOLE      12668693.84
3                     ARISTADA       1204633.19
4           CHLORPROMAZINE HCL       2326349.37
5                    CLOZAPINE       1210591.07
6                CLOZAPINE ODT         63722.26
7                     CLOZARIL         97379.75
8                       FANAPT       1569717.13
9                      FAZACLO         13729.05
10      FLUPHENAZINE DECANOATE        216436.27
11            FLUPHENAZINE HCL        922887.44
12                      GEODON        320294.36
13                 HALOPERIDOL       1529002.02
14       HALOPERIDOL DECANOATE        719496.68
15   HALOPERIDOL DECANOATE 100         42202.35
16         HALOPERIDOL LACTATE          5400.06
17                      INVEGA       1261901.23
18             INVEGA SUSTENNA      15934540.18
19               INVEGA TRINZA       1528766.52
20                      LATUDA      20467007.01
21                    LOXAPINE         89751.50
22                    NUPLAZID       2445413.88
23                  OLANZAPINE       1449105.71
24              OLANZAPINE ODT        151365.37
25   OLANZAPINE-FLUOXETINE HCL         63763.41
26                        ORAP          3007.19
27             PALIPERIDONE ER       3356278.70
28                PERPHENAZINE        296348.43
29  PERPHENAZINE-AMITRIPTYLINE         37568.57
30                    PIMOZIDE         12577.68
31         QUETIAPINE FUMARATE       3617047.43
32      QUETIAPINE FUMARATE ER       3672190.46
33                     REXULTI       2412605.74
34                   RISPERDAL         94634.91
35            RISPERDAL CONSTA       6947297.52
36                 RISPERIDONE       1064447.81
37             RISPERIDONE ODT         93986.55
38                     SAPHRIS       3042980.70
39                    SEROQUEL        191059.40
40                 SEROQUEL XR       3009753.53
41            THIORIDAZINE HCL         93415.44
42                 THIOTHIXENE        121583.40
43         TRIFLUOPERAZINE HCL         77434.68
44                     VRAYLAR       1958755.51
45             ZIPRASIDONE HCL       2178651.44
46                     ZYPREXA        236941.88
47            ZYPREXA RELPREVV         58458.37
48               ZYPREXA ZYDIS         62931.43

In [34]:
antipsychotic.to_csv('antispychotics.csv')

## ratio for spending on opioid vs non-opioid

In [36]:
opioid.total_drug_cost.sum()

105080626.37

In [37]:
non_opioid.total_drug_cost.sum()

3116214457.8600006

## spending vs deaths

In [39]:
with engine.connect() as connection:
    corr = pd.read_sql(query4, con = connection)
corr.head()

,drug_name,opioid_drug_flag,total_drug_cost,overdose_deaths,year
0,NUCYNTA ER,Y,9479.66,205,2016
1,MORPHINE SULFATE ER,Y,371.70,4,2017
2,OXYCODONE-ACETAMINOPHEN,Y,918.82,159,2017
3,HYDROCODONE-ACETAMINOPHEN,Y,106.99,184,2017
4,HYDROCODONE-ACETAMINOPHEN,Y,121.00,159,2017

In [40]:
corr.to_csv('corr.csv')

In [41]:
corr.sort_values(by='overdose_deaths', ascending = False)

,drug_name,opioid_drug_flag,total_drug_cost,overdose_deaths,year
21926,HYDROCODONE-ACETAMINOPHEN,Y,87.84,648,2018
25599,HYDROCODONE-ACETAMINOPHEN,Y,61.03,618,2018
42581,HYDROCODONE-ACETAMINOPHEN,Y,87.84,588,2017
17108,HYDROCODONE-ACETAMINOPHEN,Y,61.03,564,2017
3261,HYDROCODONE-ACETAMINOPHEN,Y,132.75,563,2017
...,...,...,...,...,...
70749,MORPHINE SULFATE ER,Y,5685.92,0,2018
86874,TRAMADOL HCL,Y,1418.39,0,2018
70761,TRAMADOL HCL,Y,152.61,0,2017
53590,HYDROCODONE-ACETAMINOPHEN,Y,8633.25,0,2018
108884,TRAMADOL HCL,Y,212.26,0,2017

## overdose deaths

In [43]:
with engine.connect() as connection:
    death = pd.read_sql(query5, con = connection)
death

,drug_name,opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost,overdose_deaths,year
0,ABACAVIR,N,N,N,410.76,127,2015
1,ABACAVIR,N,N,N,410.76,178,2016
2,ABACAVIR,N,N,N,410.76,184,2017
3,ABACAVIR,N,N,N,410.76,200,2018
4,ABACAVIR,N,N,N,2176.36,127,2015
...,...,...,...,...,...,...,...
2582939,ZYTIGA,N,N,N,884939.37,200,2018
2582940,ZYTIGA,N,N,N,2011427.85,18,2015
2582941,ZYTIGA,N,N,N,2011427.85,21,2016
2582942,ZYTIGA,N,N,N,2011427.85,28,2017
2582943,ZYTIGA,N,N,N,2011427.85,33,2018

In [44]:
antib_deaths = death.loc[death.antibiotic_drug_flag == 'Y']
antib_deaths.head()

,drug_name,opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost,overdose_deaths,year
73756,AMIKACIN SULFATE,N,Y,N,539.35,9,2017
73757,AMIKACIN SULFATE,N,Y,N,539.35,18,2018
73758,AMIKACIN SULFATE,N,Y,N,539.35,21,2015
73759,AMIKACIN SULFATE,N,Y,N,539.35,21,2016
73760,AMIKACIN SULFATE,N,Y,N,1157.98,122,2015

In [45]:
antib_deaths.overdose_deaths.sum()

13773250

In [46]:
antip_deaths = death.loc[death.antipsychotic_drug_flag == 'Y']
antip_deaths.head()

,drug_name,opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost,overdose_deaths,year
284,ABILIFY,N,N,Y,5347.80,135,2018
285,ABILIFY,N,N,Y,5347.80,147,2015
286,ABILIFY,N,N,Y,5347.80,166,2016
287,ABILIFY,N,N,Y,5347.80,171,2017
288,ABILIFY,N,N,Y,9124.04,122,2015

In [47]:
antip_deaths.overdose_deaths.sum()

3766168

In [48]:
opioid_deaths = death.loc[death.opioid_drug_flag == 'Y']
opioid_deaths.head()

,drug_name,opioid_drug_flag,antibiotic_drug_flag,antipsychotic_drug_flag,total_drug_cost,overdose_deaths,year
1488,ACETAMIN-CAFF-DIHYDROCODEINE,Y,N,N,918.54,19,2016
1489,ACETAMIN-CAFF-DIHYDROCODEINE,Y,N,N,918.54,21,2015
1490,ACETAMIN-CAFF-DIHYDROCODEINE,Y,N,N,918.54,24,2017
1491,ACETAMIN-CAFF-DIHYDROCODEINE,Y,N,N,918.54,30,2018
1492,ACETAMIN-CAFF-DIHYDROCODEINE,Y,N,N,3915.60,123,2018

In [49]:
opioid_deaths.overdose_deaths.sum()

10383002